{{outlet}}
<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-md-8">
      <h2>This forum really knows what it takes to be a forum. It has everything that anyone could really want in a forum.</h2>
      <h2>Just look at that handshake. It just screams, 'Thanks for all your help forum maker.'</h2>
    </div>
    <div class="col-md-4">
      <img src="/handshake.jpg" width="400px" height="300px">
    </div>
  </div>
</div>
