{{outlet}}
<div class="container">

  <form>
    <fieldset disabled>
      <div class="form-group">
        <label for="input">Name:</label>
        <input type="text" class="form-control" placeholder="TEST INPUT">
        <br>
        <label for="message">Please leave a brief message</label>
        <textarea class="form-control" rows="3">TEST INPUT</textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>
</div>
